.custom-form {
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    background-color: #3c1111;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-form .form-group {
    margin-bottom: 15px;
}

.custom-form label {
    font-weight: bold;
}

.custom-form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.custom-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.custom-form button:hover {
    background-color: #0056b3;
}

.text-danger {
    font-size: 0.9em;
    color: red;
}