@model List<Appointments>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Appointments</title>
</head>
<body>
    <h1>All Appointments</h1>

    @if (Model != null && Model.Any())
    {
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Time</th>
                    <th>Ucret</th>
                    <th>Created At</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var appointment in Model)
                {
                    <tr>
                        <td>@appointment.AppointmentId</td>
                        <td>@appointment.AppointmentTime</td>
                        <td>@appointment.CreatedAt</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No appointments found.</p>
    }
</body>
</html>